<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{ "<!-- Slick Carousel -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/slick/slick.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/slick/slick-theme.css" | absURL }}" />
  {{ "<!-- Font Awesome -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/font-awesome/css/font-awesome.min.css" | absURL }}" />

  {{ "<!-- Magnific Popup -->" | safeHTML }}
  <link rel="stylesheet" href="{{"plugins/magnafic-popup/magnific-popup.css" | absURL }}" />

  {{ "<!-- Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="apple-touch-icon" sizes="180x180" href={{ "/apple-touch-icon.png" | absURL }}>
  <link rel="icon" type="image/png" sizes="32x32" href={{ "/favicon-32x32.png" | absURL }}>
  <link rel="icon" type="image/png" sizes="16x16" href={{ "/favicon-16x16.png" | absURL }}>
  <link rel="icon" type="image/ico" sizes="32x32" href={{ "/favicon.ico" | absURL }}>
  <link rel="manifest" href={{ "/site.webmanifest" | absURL }}>
  <link rel="mask-icon" href={{ "/safari-pinned-tab.svg" | absURL }} color="#5bbad5">
  <meta name="msapplication-TileColor" content="#30c38a">
  <meta name="theme-color" content="#3ac58d">
  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
  {{ end }}
</head>